body {
    margin: 0;
    background: #000;
    background-image: url(../images/star-wars-backgrounds-25.jpg);
    background-blend-mode: hard-light;
    overflow: hidden;
}



@media (min-width: 280px) and (max-width: 414.98px) { 
    section {
        width: 100%;
      }
      .intro {
        position: absolute;
        top: 40%;
        left: 20%;
        z-index: 1;
        opacity: 0;
    }
    
    .texto_intro {
        font-family: 'News Cycle', sans-serif;
        color: #4bd5ee;
        font-weight: 400;
        letter-spacing: .1em;
    }
    
    .historia {
        position: absolute;
        top: 105%;
        text-align: center;
    }
    
    .title {
        text-align: center !important;
    }
    
    .parrafos {
        position: absolute;
        width: 75%;
    left: 20%;
        height: 563px !important;
        z-index: 1;
        transform-origin: 50%;
        transform: perspective(300px) rotateX(20deg);
        
    }
    
    .texto_historia {
        font-family: "News Cycle", sans-serif;
        font-weight: 700;
        color: #ff6;
        text-align: justify !important;
        letter-spacing: .07em;
        line-height: 1.0em;
    }
    
    .mensaje, .title {
        font-size: 90%;
    }
    
    .r2d2 {
        width: 32%;
        padding-top: 10%;
    }
    
    .hologram {
        background-size: 26%;
        padding-top: 17px;
        background-position-x: 50px;
        background-position-y: center;
        background-image: url(../images/hologram.png);
        background-repeat: no-repeat;
    }
    
    .r2 {
        background-image: url(../images/iniciar-removebg-preview.png);
        background-size: 100%;
        background-repeat: no-repeat;
        background-position: center;
    }

    .initialbutton{
        padding-top: 20%;
        padding-bottom: 20%;
    }
    
    .vader {
        width: 20%;
    }
    
    .darth {
        background-image: url(../images/informes-removebg-preview.png);
        background-size: 100%;
        background-repeat: no-repeat;
        background-position: center;
        color: #ff6 !important;
        padding-left: 50px !important;
        padding-right: 50px !important;
        padding-top: 10px !important;
        padding-bottom: 10px !important;
        display: inline-block;
        border: 1px solid;
        border-radius: 5px;
        cursor: pointer;
    
    }
    
    .direccion {
        background-size: 65%;
        background-position-x: right;
        background-position-y: center;
        background-repeat: no-repeat;
        display: none;
        margin-top: -15%;
    margin-bottom: 20%;
    }
    
    .boton {
        color: #057d96;
        display: inline-block;
        padding-left: 60px;
        padding-right:40px;
        padding-top: 15px;
        padding-bottom: 10px;
        border: 1px solid;
        border-radius: 5px;
        cursor: pointer;
    }
    
    .boton :hover {
    
        opacity: .8;
    
    }
    
    .animacion_intro {
        animation: intro 5s ease-out 0s;
    }
    
    .animacion_historia {
        animation: parrafos 30s linear 6s;
    }
    
    .imagen-icon {
        width: 20px;
    }
    
    @keyframes intro {
        0% {
            opacity: 0;
        }
    
        20% {
            opacity: 1;
        }
    
        90% {
            opacity: 1;
        }
    
        100% {
            opacity: 0;
        }
    }
    
    @keyframes parrafos {
        0% {
            top: 100%;
            opacity: 1;
        }
    
        95% {
            opacity: 1;
        }
    
        100% {
            top: -70%;
            opacity: 0;
        }
    }
}


@media (min-width: 415px) and (max-width: 767.98px) { 
    section {
        width: 100%;
      }
      .intro {
        position: absolute;
        top: 40%;
        left: 20%;
        z-index: 1;
        opacity: 0;
    }
    
    .texto_intro {
        font-family: 'News Cycle', sans-serif;
        color: #4bd5ee;
        font-weight: 400;
        letter-spacing: .1em;
    }
    
    .historia {
        position: absolute;
        top: 105%;
        text-align: center;
    }
    
    .title {
        text-align: center !important;
    }
    
    .parrafos {
        position: absolute;
        left: 80%;
        width: 80%;
        z-index: 1;
        transform-origin: 50%;
        transform: perspective(300px) rotateX(20deg);
        margin-top: 80px;
    }
    
    .texto_historia {
        font-family: "News Cycle", sans-serif;
        font-weight: 700;
        color: #ff6;
        text-align: justify !important;
        letter-spacing: .2em;
        line-height: 1.5em;
    }
    
    .mensaje, .title {
        font-size: 140%;
    }
    
    .r2d2 {
        width: 40%;
        padding-top: 10%;
    }
    
    .hologram {
        background-size: 75%;
        padding-top: 60px;
        background-position-x: right;
        background-position-y: center;
        background-image: url(../images/hologram.png);
        background-repeat: no-repeat;
    }
    
    .r2 {
        background-image: url(../images/iniciar-removebg-preview.png);
        background-size: 100%;
        background-repeat: no-repeat;
        background-position: center;
    }
    
    .vader {
        width: 30%;
    }
    
    .darth {
        background-image: url(../images/informes-removebg-preview.png);
        background-size: 100%;
        background-repeat: no-repeat;
        background-position: center;
        color: #ff6 !important;
        padding-left: 141px !important;
        padding-right: 141px !important;
        padding-top: 25px !important;
        padding-bottom: 25px !important;
        display: inline-block;
        border: 1px solid;
        border-radius: 5px;
        cursor: pointer;
    
    }
    
    .direccion {
        background-size: 65%;
        background-position-x: right;
        background-position-y: center;
        background-repeat: no-repeat;
        display: none;
    }
    
    .boton {
        color: #057d96;
        display: inline-block;
        padding-left: 91px;
        padding-right: 90px;
        padding-top: 25px;
        padding-bottom: 25px;
        border: 1px solid;
        border-radius: 5px;
        cursor: pointer;
    }
    
    .boton :hover {
    
        opacity: .8;
    
    }
    
    .animacion_intro {
        animation: intro 5s ease-out 0s;
    }
    
    .animacion_historia {
        animation: parrafos 30s linear 6s;
    }
    
    .imagen-icon {
        width: 20px;
    }
    
    @keyframes intro {
        0% {
            opacity: 0;
        }
    
        20% {
            opacity: 1;
        }
    
        90% {
            opacity: 1;
        }
    
        100% {
            opacity: 0;
        }
    }
    
    @keyframes parrafos {
        0% {
            top: 100%;
            opacity: 1;
        }
    
        95% {
            opacity: 1;
        }
    
        100% {
            top: -70%;
            opacity: 0;
        }
    }
}


@media (min-width: 768px) and (max-width: 991.98px) { 
    section {
        width: 100%;
      }
      .intro {
        position: absolute;
        top: 40%;
        left: 20%;
        z-index: 1;
        opacity: 0;
    }
    
    .texto_intro {
        font-family: 'News Cycle', sans-serif;
        color: #4bd5ee;
        font-weight: 400;
        letter-spacing: .1em;
    }
    
    .historia {
        position: absolute;
        top: 10%;
        text-align: center;
    }
    
    .title {
        text-align: center !important;
    }
    
    .parrafos {
        position: absolute;
        left: 13%;
    width: 133%;
        z-index: 1;
        transform-origin: 50%;
        transform: perspective(300px) rotateX(20deg);
        margin-top: 80px;
    }
    
    .texto_historia {
        font-family: "News Cycle", sans-serif;
        font-weight: 700;
        color: #ff6;
        text-align: justify !important;
        letter-spacing: .2em;
        line-height: 1.5em;
    }
    
    .mensaje, .title {
        font-size: 140%;
    }
    
    .r2d2 {
        width: 40%;
        padding-top: 10%;
    }
    
    .hologram {
        background-size: 75%;
        padding-top: 60px;
        background-position-x: right;
        background-position-y: center;
        background-image: url(../images/hologram.png);
        background-repeat: no-repeat;
    }
    
    .r2 {
        background-image: url(../images/iniciar-removebg-preview.png);
        background-size: 100%;
        background-repeat: no-repeat;
        background-position: center;
    }
    
    .vader {
        width: 30%;
    }
    
    .darth {
        background-image: url(../images/informes-removebg-preview.png);
        background-size: 100%;
        background-repeat: no-repeat;
        background-position: center;
        color: #ff6 !important;
        padding-left: 141px !important;
        padding-right: 141px !important;
        padding-top: 25px !important;
        padding-bottom: 25px !important;
        display: inline-block;
        border: 1px solid;
        border-radius: 5px;
        cursor: pointer;
    
    }
    
    .direccion {
        background-size: 65%;
        background-position-x: right;
        background-position-y: center;
        background-repeat: no-repeat;
        display: none;
    }
    
    .boton {
        color: #057d96;
        display: inline-block;
        padding-left: 91px;
        padding-right: 90px;
        padding-top: 25px;
        padding-bottom: 25px;
        border: 1px solid;
        border-radius: 5px;
        cursor: pointer;
    }
    
    .boton :hover {
    
        opacity: .8;
    
    }
    
    .animacion_intro {
        animation: intro 5s ease-out 0s;
    }
    
    .animacion_historia {
        animation: parrafos 30s linear 6s;
    }
    
    .imagen-icon {
        width: 20px;
    }
    
    @keyframes intro {
        0% {
            opacity: 0;
        }
    
        20% {
            opacity: 1;
        }
    
        90% {
            opacity: 1;
        }
    
        100% {
            opacity: 0;
        }
    }
    
    @keyframes parrafos {
        0% {
            top: 100%;
            opacity: 1;
        }
    
        95% {
            opacity: 1;
        }
    
        100% {
            top: -70%;
            opacity: 0;
        }
    }
 }


@media (min-width: 992px) and (max-width: 1199.98px) { 
    section {
        width: 100%;
      }
      .intro {
        position: absolute;
        top: 40%;
        left: 20%;
        z-index: 1;
        opacity: 0;
    }
    
    .texto_intro {
        font-family: 'News Cycle', sans-serif;
        color: #4bd5ee;
        font-weight: 400;
        letter-spacing: .1em;
    }
    
    .historia {
        position: absolute;
        top: 105%;
        text-align: center;
    }
    
    .title {
        text-align: center !important;
    }
    
    .parrafos {
        position: absolute;
        left: 50%;
        width: 50%;
        z-index: 1;
        transform-origin: 50%;
        transform: perspective(300px) rotateX(20deg);
        margin-top: 80px;
    }
    
    .texto_historia {
        font-family: "News Cycle", sans-serif;
        font-weight: 700;
        color: #ff6;
        text-align: justify !important;
        letter-spacing: .2em;
        line-height: 1.5em;
    }
    
    .mensaje, .title {
        font-size: 140%;
    }
    
    .r2d2 {
        width: 40%;
        padding-top: 10%;
    }
    
    .hologram {
        background-size: 75%;
        padding-top: 60px;
        background-position-x: right;
        background-position-y: center;
        background-image: url(../images/hologram.png);
        background-repeat: no-repeat;
    }
    
    .r2 {
        background-image: url(../images/iniciar-removebg-preview.png);
        background-size: 100%;
        background-repeat: no-repeat;
        background-position: center;
    }
    
    .vader {
        width: 30%;
    }
    
    .darth {
        background-image: url(../images/informes-removebg-preview.png);
        background-size: 100%;
        background-repeat: no-repeat;
        background-position: center;
        color: #ff6 !important;
        padding-left: 141px !important;
        padding-right: 141px !important;
        padding-top: 25px !important;
        padding-bottom: 25px !important;
        display: inline-block;
        border: 1px solid;
        border-radius: 5px;
        cursor: pointer;
    
    }
    
    .direccion {
        background-size: 65%;
        background-position-x: right;
        background-position-y: center;
        background-repeat: no-repeat;
        display: none;
    }
    
    .boton {
        color: #057d96;
        display: inline-block;
        padding-left: 91px;
        padding-right: 90px;
        padding-top: 25px;
        padding-bottom: 25px;
        border: 1px solid;
        border-radius: 5px;
        cursor: pointer;
    }
    
    .boton :hover {
    
        opacity: .8;
    
    }
    
    .animacion_intro {
        animation: intro 5s ease-out 0s;
    }
    
    .animacion_historia {
        animation: parrafos 30s linear 6s;
    }
    
    .imagen-icon {
        width: 20px;
    }
    
    @keyframes intro {
        0% {
            opacity: 0;
        }
    
        20% {
            opacity: 1;
        }
    
        90% {
            opacity: 1;
        }
    
        100% {
            opacity: 0;
        }
    }
    
    @keyframes parrafos {
        0% {
            top: 100%;
            opacity: 1;
        }
    
        95% {
            opacity: 1;
        }
    
        100% {
            top: -70%;
            opacity: 0;
        }
    }
 }

@media (min-width: 1200px) { 
    section {
        width: 100%;
      }
      .intro {
        position: absolute;
        top: 40%;
        left: 20%;
        z-index: 1;
        opacity: 0;
    }
    
    .texto_intro {
        font-family: 'News Cycle', sans-serif;
        color: #4bd5ee;
        font-weight: 400;
        letter-spacing: .1em;
    }
    
    .historia {
        position: absolute;
        top: 105%;
        text-align: center;
    }
    
    .title {
        text-align: center !important;
    }
    
    .parrafos {
        position: absolute;
        left: 50%;
        width: 50%;
        z-index: 1;
        transform-origin: 50%;
        transform: perspective(300px) rotateX(20deg);
        margin-top: 80px;
    }
    
    .texto_historia {
        font-family: "News Cycle", sans-serif;
        font-weight: 700;
        color: #ff6;
        text-align: justify !important;
        letter-spacing: .2em;
        line-height: 1.5em;
    }
    
    .mensaje, .title {
        font-size: 140%;
    }
    
    .r2d2 {
        width: 40%;
        padding-top: 10%;
    }
    
    .hologram {
        background-size: 75%;
        padding-top: 60px;
        background-position-x: right;
        background-position-y: center;
        background-image: url(../images/hologram.png);
        background-repeat: no-repeat;
    }
    
    .r2 {
        background-image: url(../images/iniciar-removebg-preview.png);
        background-size: 100%;
        background-repeat: no-repeat;
        background-position: center;
    }
    
    .vader {
        width: 30%;
    }
    
    .darth {
        background-image: url(../images/informes-removebg-preview.png);
        background-size: 100%;
        background-repeat: no-repeat;
        background-position: center;
        color: #ff6 !important;
        padding-left: 141px !important;
        padding-right: 141px !important;
        padding-top: 25px !important;
        padding-bottom: 25px !important;
        display: inline-block;
        border: 1px solid;
        border-radius: 5px;
        cursor: pointer;
    
    }
    
    .direccion {
        background-size: 65%;
        background-position-x: right;
        background-position-y: center;
        background-repeat: no-repeat;
        display: none;
    }
    
    .boton {
        color: #057d96;
        display: inline-block;
        padding-left: 91px;
        padding-right: 90px;
        padding-top: 25px;
        padding-bottom: 25px;
        border: 1px solid;
        border-radius: 5px;
        cursor: pointer;
    }
    
    .boton :hover {
    
        opacity: .8;
    
    }
    
    .animacion_intro {
        animation: intro 5s ease-out 0s;
    }
    
    .animacion_historia {
        animation: parrafos 30s linear 6s;
    }
    
    .imagen-icon {
        width: 20px;
    }
    
    @keyframes intro {
        0% {
            opacity: 0;
        }
    
        20% {
            opacity: 1;
        }
    
        90% {
            opacity: 1;
        }
    
        100% {
            opacity: 0;
        }
    }
    
    @keyframes parrafos {
        0% {
            top: 100%;
            opacity: 1;
        }
    
        95% {
            opacity: 1;
        }
    
        100% {
            top: -70%;
            opacity: 0;
        }
    }
 }